p {
    display: flex;
    margin: 0;
}

.item {
    height: 15vh;
    width: 100vw;
    
    background-color: #000;
    color: #fff;
}

.item p {
    justify-content: left;
}

.preco p {
    height: 5vh;
    width: 5vw;
    border: 1px solid #d0d0d0;
    border-radius: 2.5%;

    justify-content: center;
    place-items: center;
}